table {
    border-collapse: collapse;
}

table th, table td {
    border: solid 1px #696969;
    padding: 8px;
}

thead {
    background-color: #afe0f7;
}

.even {
    background-color: #ffffff;
}

.odd {
    background-color: #cccccc;
}

.student_id_form {
    margin: 32px 16px 32px 0;
}
